{% extends 'clients/base.html' %}

{% block content %}
<div class="col-md-6">
    <div class="card mb-4 box-shadow">

        <div class="card-body">
            <p class="card-text">Количество рассылок всего: {{ count_all_mailings }}</p>
            <p class="card-text">Количество активных рассылок: {{ count_active_mailings }}</p>
            <p class="card-text">Количество уникальных клиентов для рассылок: {{ count_clients }}</p>

        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card mb-4 box-shadow">

    {% for object in blogs%}


    <div class="col-md-4">
        <div class="card mb-4 box-shadow">

            <div class="card-body">
                <p class="card-text">PK: {{ object.pk }}</p>
                <p class="card-text">Заголовок: {{ object.heading }}</p>
                <p class="card-text">Описание: {{ object.description | truncatechars:30 }}</p>
                <p class="card-text">Создано: {{ object.created_at }}</p>
                <p class="card-text">Просмотры: {{ object.count_views }}</p>

            <a href="{% url 'blog:blog' object.pk %}" class="btn btn-secondary my-2">Блог</a>


            </div>
        </div>
    </div>


    {% endfor %}

        </div>
    </div>
{% endblock %}