{% extends 'clients/base.html' %}

{% block content %}
<div class="col-md-6">
    <div class="card mb-4 box-shadow">

        <div class="card-body">
            <p class="card-text">Название: {{ object.name }}</p>
            <p class="card-text">Почта: {{ object.email }}</p>
            <p class="card-text">К кому относится: {{ object.owner  }}</p>
            <p class="card-text">Описание: {{ object.comment }}</p>

            <a href="{% url 'clients:clients_list' %}" class="btn btn-secondary my-2">Все клиенты</a>


        </div>
    </div>
</div>
{% endblock %}