{% extends 'clients/base.html' %}

{% block content %}
<div class="col-md-6">
    <div class="card mb-4 box-shadow">

        <div class="card-body">
            <p class="card-text">Дата создания: {{ object.date }}</p>
            <p class="card-text">Время создания: {{ object.time }}</p>
            <p class="card-text">Период рассылки: {{ object.period  }}</p>
            <p class="card-text">Статус: {{ object.status }}</p>
            <p class="card-text">Клиенты, получающие рассылку: {{ object.clients }}</p>
            <p class="card-text">К кому относится: {{ object.owner  }}</p>

            <a href="{% url 'clients:mailings_list' %}" class="btn btn-secondary my-2">Все рассылки</a>

        </div>
    </div>
</div>
{% endblock %}